<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>
    <h1>勤怠登録.com</h1>
    <p>ログイン完了！</p>
    <p>ようこそ！{{user_id}}さん</p>
    <p>このサイトでは勤怠の登録ができます</p>
    <!-- <p>入力ページへの<a href="/input_page">リンク</a></p> -->
    <form action="/register_kintai" method="post">
        <div>
            <select name="start_or_end" required>
                <option value="">選択してください</option>
                <option value="start">出勤</option>
                <option value="end">退勤</option>
            </select>

            <input type="submit" value="出退勤登録する">
        </div>
    </form>
    <form action="/kintai_review" method="get">
        <p>
            <input type="submit" value="勤怠記録閲覧&編集ページへ">
        </p>
    </form>
    <form action="/logout" method="get">
        <p>
            <input type="submit" value="サインアウト">
        </p>
    </form>
</body>

</html>