<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <tiele>stock_review</tiele>
</head>

<body>
    {% for stock_data in portfolio%}
    <p>
        <img src={{stock_data[2]}} alt="stock_transition" title="stock_transition">
    </p>
    {% endfor %}
    <form action="/" method="get">
        <p>
            <input type="submit" value="ホーム画面へ">
        </p>
    </form>
    <form action="/stock_page" method="get">
        <p>
            <input type="submit" value="登録画面へ">
        </p>
    </form>
</body>

</html>